.analyticsTweet {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.analyticsImage {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

.analyticsButton {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35px;
    height: 30px;

    &:hover{
        background-color: rgba(128, 128, 128, 0.24);
        border-radius: 20px;
        color: red;
    }

    &:hover::after {
        background-color: rgba(128, 128, 128, 0.74);
        border-radius: 20px;
        content: "Like";
        position: absolute;
        padding: 5px;
        border-radius: 3px;
        margin-top: 65px;
        color: white;
    }
}

.analyticsText {
    margin-left: 8px;
}
