.analytics {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.analyticsInfo {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

.analyticsMark {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.analyticsMarkStyle {
    margin-left: 30px;
}

